################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TorrentWatcher/bin
/TorrentWatcher/.vs/TorrentWatcher/v15/.suo
/TorrentWatcher/obj/**
/TorrentWatcher/packages/**
/TorrentWatcherTests/bin/**
/TorrentWatcherTests/obj/**